<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Aistora{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest" crossorigin></script>
    <style>
      html,
      body {
        height: 100%;
      }
      .spinner {
        border: 2px solid #f3f3f3;
        border-top: 2px solid #3498db;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        animation: spin 1s linear infinite;
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <body class="bg-slate-50 text-slate-800 h-full w-full overflow-hidden">
    {% block content %}{% endblock %}

    <script>
      // This is left here *only* to initialize the icons,
      // as it's small and must run *after* the DOM is loaded.
      // All other logic is in scripts.js
      document.addEventListener("DOMContentLoaded", () => {
        lucide.createIcons();
      });
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
